{%extends "base.html"%} <!--inherited from base.html-->

{%block content%} <!--filling content block-->
<h1>Add Transaction</h1>
<form method="POST"> <!--form tag is used for getting user input with POST method-->
    <!--id attribute from input tag and for attribute from label must match -->
    <label for='date'>Date: </label> <!--label tag is for display text to get input-->
    <input type='date' id='date' name='date' required> <!--input tag is for blank to fill-->

    <label for='category'>Category: </label>
    <input type='text' id='category' name='category'>

    <label for='amount'>Amount: </label>
    <input type='number' id='amount' name='amount' required>

    <label for='transaction_type'>Transaction Type: </label>
    <select id='transaction_type' name='transaction_type' required> <!--select tag is used to make multiple choice options-->
        <option value='income'>Income</option>
        <option value='expense'>Expense</option>
    </select>
    <button type="submit">Add Transaction</button>
</form>
{%endblock%}