<!--main base html template file-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Personal Finance Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href= "{{ url_for('index') }}">Home</a></li>
                <li><a href= "{{ url_for('add_transaction_route') }}">Add Transactions</a></li>
                <li><a href= "{{ url_for('set_budget_route') }}">Set Budgets</a></li>
                <li><a href= "{{ url_for('report') }}">Generate Monthly Report</a></li>
                <li><a href= "{{ url_for('check_budget_status_route') }}">Check Budget Status</a></li>

                {% if current_user.is_authenticated %} <!--only show logout button if the user is already login -->
                    <li><a href= "{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href= "{{ url_for('login') }}">Sign In</a></li> <!--only show login and register button if the user isn't logged in-->
                    <li><a href= "{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <!--Making flash messages (login error and sucess messages) to display-->
        <!--captures all flash messages in a var named messages-->
        {% with messages = get_flashed_messages(with_categories=true) %} <!--each message will come with its associated category (e.g., 'success', 'danger', 'warning')-->
        {% if messages %}
                <ul>
                    {% for category, message in messages%}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %} <!--blank that will be filled in children templates-->

        <footer>
            <p>Author: <i>Kyi Lei Aye</i></p>
        </footer>

    </body>
</html>