{%extends "base.html"%}

{%block content%}
<h1>Budget Status</h1>

<form method="POST">
    <label for='month'>Month (YYYY-MM):</label>
    <input type='text' id='month' name='month' required>
    <button type='submit'>Check Budget Status</button>
</form>

{%if status%}
    <h2> Budget Status for {{ month }}</h2>

    <ul>
        {%for item_category, data in status.items()%}
            <li>Category {{item_category}}: Status {{data[0]}} Spent {{data[1]}} Budget {{data[2]}} Remaining {{data[3]}} </li>
        {%endfor%}
    </ul>
{%endif%}

{%endblock%}