{% extends "base.html" %}

{% block content %}

<div class='container'>
    <h2>Check Budget </h2>
    <form method="post">
        <label for='month'>Month (YYYY-MM):</label>
        <input type="text" name="month" id="month" required>

        <button type="submit">Submit</button>
    </form>

    {% if status %}
        {% if status %}
            <h2>Budget Status for {{ month }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Expense</th>
                        <th>Budget</th>
                        <th>Remaining</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category, info in status.items() %}
                    <tr>
                        <td>{{ category }}</td>
                        <td>{{ info.Expense }}</td>
                        <td>{{ info.Budget }}</td>
                        <td>{{ info.Remaining }}
                        <td>{{ info.Status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        
        {% else %}
            <p>No budget data available for the selected month.</p>
        {% endif %}
    {% endif %}
    
</div>
{% endblock %}